In [1]:
import requests
import time
from datetime import datetime
from dateutil.relativedelta import relativedelta
import calendar
import pandas as pd

In [2]:
def call_noaa_api(stationid, data, startdate, enddate):
    """
    Using the station, query using the new API
    and obtain the monthly climate data for the last full year between
    startdate and enddate.
    """

    if startdate > enddate: raise Exception("ERROR: date ")

    startdate =startdate.strftime('%Y-%m-%d')
    enddate = enddate.strftime('%Y-%m-%d')

    url = "https://www.ncei.noaa.gov/access/services/data/v1?dataset=daily-summaries&stations="+stationid + "&startDate="+startdate+ "&endDate="+enddate+ "&dataTypes="+data+"&format=json&units=standard&includeAttributes=false"
    
    headers = {'Sec-Ch-Ua-Platform': 'Windows',
              'Sec-Ch-Ua-Platform-Version': '10.0.0',
              'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36'}
    
    headers.update({"accept-language": "en-US,en;q=0.9", 'token': 'hZdhKaAPMfVgWRLYPMQzMebuEcuhDHne'})

    response = requests.get(url, data=None, json=None, headers=headers)

    return response

In [3]:
stations = ['US1CTFR0022',
 'US1CTFR0039',
 'US1NJBG0001',
 'US1NJBG0002',
 'US1NJBG0003',
 'US1NJBG0005',
 'US1NJBG0006',
 'US1NJBG0008',
 'US1NJBG0010',
 'US1NJBG0011',
 'US1NJBG0012',
 'US1NJBG0013',
 'US1NJBG0015',
 'US1NJBG0017',
 'US1NJBG0018',
 'US1NJBG0020',
 'US1NJBG0023',
 'US1NJBG0029',
 'US1NJBG0030',
 'US1NJBG0031',
 'US1NJBG0033',
 'US1NJBG0037',
 'US1NJBG0039',
 'US1NJBG0043',
 'US1NJBG0044',
 'US1NJBG0056',
 'US1NJBG0058',
 'US1NJBG0060',
 'US1NJBG0064',
 'US1NJBG0065',
 'US1NJBG0070',
 'US1NJBG0071',
 'US1NJES0001',
 'US1NJES0004',
 'US1NJES0010',
 'US1NJES0011',
 'US1NJES0015',
 'US1NJES0018',
 'US1NJES0019',
 'US1NJES0020',
 'US1NJES0021',
 'US1NJES0024',
 'US1NJES0027',
 'US1NJES0029',
 'US1NJES0031',
 'US1NJES0033',
 'US1NJES0040',
 'US1NJES0041',
 'US1NJHD0002',
 'US1NJHD0016',
 'US1NJHD0017',
 'US1NJHD0018',
 'US1NJHD0023',
 'US1NJMD0001',
 'US1NJMD0011',
 'US1NJMD0023',
 'US1NJMD0031',
 'US1NJMD0033',
 'US1NJMD0038',
 'US1NJMD0039',
 'US1NJMD0043',
 'US1NJMD0044',
 'US1NJMD0045',
 'US1NJMD0050',
 'US1NJMD0055',
 'US1NJMD0058',
 'US1NJMD0060',
 'US1NJMD0062',
 'US1NJMD0066',
 'US1NJMD0070',
 'US1NJMD0071',
 'US1NJMD0073',
 'US1NJMD0074',
 'US1NJMD0082',
 'US1NJMD0086',
 'US1NJMD0088',
 'US1NJMD0093',
 'US1NJMD0097',
 'US1NJMD0098',
 'US1NJMD0104',
 'US1NJMN0006',
 'US1NJMN0007',
 'US1NJMN0010',
 'US1NJMN0011',
 'US1NJMN0012',
 'US1NJMN0015',
 'US1NJMN0029',
 'US1NJMN0032',
 'US1NJMN0033',
 'US1NJMN0035',
 'US1NJMN0044',
 'US1NJMN0048',
 'US1NJMN0051',
 'US1NJMN0069',
 'US1NJMN0081',
 'US1NJMN0104',
 'US1NJMS0002',
 'US1NJMS0011',
 'US1NJMS0012',
 'US1NJMS0014',
 'US1NJMS0016',
 'US1NJMS0036',
 'US1NJMS0039',
 'US1NJMS0040',
 'US1NJMS0047',
 'US1NJMS0049',
 'US1NJMS0058',
 'US1NJMS0059',
 'US1NJMS0069',
 'US1NJMS0070',
 'US1NJMS0075',
 'US1NJMS0078',
 'US1NJMS0089',
 'US1NJMS0097',
 'US1NJMS0102',
 'US1NJMS0106',
 'US1NJMS0108',
 'US1NJMS0121',
 'US1NJPS0003',
 'US1NJPS0004',
 'US1NJPS0005',
 'US1NJPS0008',
 'US1NJPS0012',
 'US1NJPS0014',
 'US1NJPS0015',
 'US1NJPS0017',
 'US1NJPS0018',
 'US1NJPS0019',
 'US1NJPS0022',
 'US1NJPS0025',
 'US1NJPS0028',
 'US1NJPS0038',
 'US1NJPS0039',
 'US1NJPS0040',
 'US1NJPS0042',
 'US1NJPS0043',
 'US1NJSM0099',
 'US1NJUN0003',
 'US1NJUN0007',
 'US1NJUN0010',
 'US1NJUN0014',
 'US1NJUN0016',
 'US1NJUN0017',
 'US1NJUN0018',
 'US1NJUN0019',
 'US1NJUN0020',
 'US1NJUN0026',
 'US1NJUN0028',
 'US1NJUN0034',
 'US1NJUN0035',
 'US1NJUN0036',
 'US1NJUN0038',
 'US1NJUN0039',
 'US1NJUN0041',
 'US1NJUN0042',
 'US1NYBX0025',
 'US1NYKN0003',
 'US1NYKN0025',
 'US1NYKN0059',
 'US1NYNS0001',
 'US1NYNS0006',
 'US1NYNS0007',
 'US1NYNS0009',
 'US1NYNS0014',
 'US1NYNS0016',
 'US1NYNS0018',
 'US1NYNS0022',
 'US1NYNS0024',
 'US1NYNS0027',
 'US1NYNS0028',
 'US1NYNS0030',
 'US1NYNS0032',
 'US1NYNS0034',
 'US1NYNS0035',
 'US1NYNS0036',
 'US1NYNS0037',
 'US1NYNS0040',
 'US1NYNS0041',
 'US1NYNS0042',
 'US1NYNS0043',
 'US1NYNS0045',
 'US1NYNS0046',
 'US1NYNS0060',
 'US1NYNS0065',
 'US1NYNS0066',
 'US1NYNS0067',
 'US1NYNS0070',
 'US1NYNS0071',
 'US1NYNS0074',
 'US1NYNS0077',
 'US1NYNS0080',
 'US1NYNY0074',
 'US1NYNY0078',
 'US1NYNY0082',
 'US1NYQN0002',
 'US1NYQN0026',
 'US1NYQN0027',
 'US1NYQN0029',
 'US1NYQN0033',
 'US1NYQN0036',
 'US1NYQN0037',
 'US1NYQN0039',
 'US1NYRC0001',
 'US1NYRC0002',
 'US1NYRC0016',
 'US1NYRL0001',
 'US1NYRL0003',
 'US1NYRL0004',
 'US1NYRL0005',
 'US1NYRL0011',
 'US1NYRL0013',
 'US1NYSF0041',
 'US1NYSF0061',
 'US1NYSF0062',
 'US1NYSF0075',
 'US1NYSF0083',
 'US1NYSF0089',
 'US1NYSF0092',
 'US1NYSF0122',
 'US1NYSF0150',
 'US1NYSF0158',
 'US1NYWC0003',
 'US1NYWC0005',
 'US1NYWC0009',
 'US1NYWC0018',
 'US1NYWC0019',
 'US1NYWC0032',
 'US1NYWC0034',
 'US1NYWC0035',
 'US1NYWC0049',
 'USC00066655',
 'USC00280907',
 'USC00281335',
 'USC00281592',
 'USC00282023',
 'USC00282644',
 'USC00282768',
 'USC00283704',
 'USC00284339',
 'USC00284887',
 'USC00284931',
 'USC00284987',
 'USC00285104',
 'USC00285503',
 'USC00286146',
 'USC00287079',
 'USC00287393',
 'USC00287865',
 'USC00288884',
 'USC00289187',
 'USC00289317',
 'USC00289832',
 'USC00300961',
 'USC00301309',
 'USC00302129',
 'USC00305377',
 'USC00305380',
 'USC00305796',
 'USC00305804',
 'USC00305816',
 'USC00305821',
 'USC00306138',
 'USC00306674',
 'USC00307497',
 'USC00307587',
 'USC00308322',
 'USC00308577',
 'USC00308946',
 'USC00309117',
 'USC00309270',
 'USC00309580',
 'USW00014732',
 'USW00014734',
 'USW00054743',
 'USW00054787',
 'USW00094728',
 'USW00094741',
 'USW00094745',
 'USW00094789']

In [4]:
# This entire loop will take at least 5 hours !

# Initialize an empy dataframe to fill with the responses from the API
df = pd.DataFrame()
# Start date will be the end of 2024
date = datetime.strptime("2024-12-31", "%Y-%m-%d") + relativedelta(days=1)
# The data I want from the API
#"TSUN,AWND,TMIN,TMAX"
data = 'WSF2,WSF5'

# Loop through all the dates until the beginning of 1980
while date > datetime.strptime("1980-01-01", "%Y-%m-%d"):
    # initialize empty dataframe
    dftemp = pd.DataFrame()
    # get the end date minus one, so the start date and end date never overlap
    enddate = date - relativedelta(days=1)
    print("End Date ",enddate)
    # Make the start date 6 months prior
    date = date -  relativedelta(months=6)
    print("Start Date ",date)

    # loop through each station around the New York area
    for i in stations:
        # Set the number of retries if the api call fails
        retries = 0
        max_retries = 3
        while retries < max_retries:
            # Call the API
            response = call_noaa_api(i, data, date, enddate)
            # If the response is successful, add the response to a DataFrame
            if response.status_code == 200:
                respdf = pd.json_normalize(response.json())
                dftemp = pd.concat([dftemp,respdf])

                # If the API call failed at first, print if it was successful the next try.
                if retries != 0:
                    print("Successful retry")
                # since the call was succesful, make retires = 6 to get out of the while loop
                retries = 6
            # if the call failed..
            else:
                retries += 1
                print(f"api error (Retry {retries}/{max_retries})")
                print(response.status_code)
                print(i)
                # wait 30 seconds until the next API call as to not overwhelm the API
                start_time = time.time()
                while (time.time() - start_time) < 30:
                    pass 
    # combine the dataframe per station...
    df = pd.concat([df,dftemp])
    print(df)

End Date  2024-12-31 00:00:00
Start Date  2024-07-01 00:00:00
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2024-12-27  USW00094789   8.1  11.0
180  2024-12-28  USW00094789   8.9  12.1
181  2024-12-29  USW00094789  25.9  40.0
182  2024-12-30  USW00094789  28.0  38.9
183  2024-12-31  USW00094789  25.9  40.0

[16782 rows x 4 columns]
End Date  2024-06-30 00:00:00
Start Date  2024-01-01 00:00:00
api error (Retry 1/3)
503
US1NJES0015
Successful retry
api error (Retry 1/3)
503
USC00284987
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
177  2024-06-26  USW00094789  29.1  42.1
178  2024-06-27  USW00094789  23.0  34.0
179  2024-06-28  USW00094789  17.0  21.9
180  2024-06-29  USW00094789  25.1  33.1
181  2024-06-30  USW00094789  23.9  31.1

[33427 rows x 4 columns]
End Date  2023-12-31 00:00:00
Start Date  2023-07-01 00:00:00
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2023-12-27  USW00094789  15.0  19.0
180  2023-12-28  USW00094789  28.0  34.0
181  2023-12-29  USW00094789  19.9  21.9
182  2023-12-30  USW00094789  21.9  27.1
183  2023-12-31  USW00094789  19.9  25.9

[50389 rows x 4 columns]
End Date  2023-06-30 00:00:00
Start Date  2023-01-01 00:00:00
api error (Retry 1/3)
503
US1NYNS0065
Successful retry
api error (Retry 1/3)
503
USC00284339
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
176  2023-06-26  USW00094789  25.1  35.1
177  2023-06-27  USW00094789  21.9  30.0
178  2023-06-28  USW00094789  19.9  23.9
179  2023-06-29  USW00094789  16.1  23.0
180  2023-06-30  USW00094789  16.1  18.1

[66710 rows x 4 columns]
End Date  2022-12-31 00:00:00
Start Date  2022-07-01 00:00:00
api error (Retry 1/3)
503
US1NJUN0041
Successful retry
api error (Retry 1/3)
503
US1NYWC0032
Successful retry
api error (Retry 1/3)
503
USC00287079
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2022-12-27  USW00094789  16.1  19.9
180  2022-12-28  USW00094789  14.1  19.0
181  2022-12-29  USW00094789  15.0  18.1
182  2022-12-30  USW00094789  13.0  15.0
183  2022-12-31  USW00094789  10.1  12.1

[83163 rows x 4 columns]
End Date  2022-06-30 00:00:00
Start Date  2022-01-01 00:00:00
api error (Retry 1/3)
503
US1NYNS0071
Successful retry
api error (Retry 1/3)
503
USC00305380
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
176  2022-06-26  USW00094789  28.0  35.1
177  2022-06-27  USW00094789  18.1  23.0
178  2022-06-28  USW00094789  17.0  21.0
179  2022-06-29  USW00094789  21.9  27.1
180  2022-06-30  USW00094789  19.9  25.1

[98716 rows x 4 columns]
End Date  2021-12-31 00:00:00
Start Date  2021-07-01 00:00:00
api error (Retry 1/3)
503
US1NJUN0042
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2021-12-27  USW00094789  18.1  23.9
180  2021-12-28  USW00094789  15.0  19.9
181  2021-12-29  USW00094789  13.0  15.0
182  2021-12-30  USW00094789  12.1  13.0
183  2021-12-31  USW00094789  14.1  16.1

[115678 rows x 4 columns]
End Date  2021-06-30 00:00:00
Start Date  2021-01-01 00:00:00
api error (Retry 1/3)
503
US1NJMD0001
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
176  2021-06-26  USW00094789  25.1  31.1
177  2021-06-27  USW00094789  25.9  34.0
178  2021-06-28  USW00094789  25.1  30.0
179  2021-06-29  USW00094789  23.9  30.0
180  2021-06-30  USW00094789  25.9  31.1

[131592 rows x 4 columns]
End Date  2020-12-31 00:00:00
Start Date  2020-07-01 00:00:00
api error (Retry 1/3)
503
US1NYNS0041
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2020-12-27  USW00094789  19.9  23.9
180  2020-12-28  USW00094789  19.9  23.9
181  2020-12-29  USW00094789  29.1  38.0
182  2020-12-30  USW00094789  19.9  23.9
183  2020-12-31  USW00094789  21.0  23.0

[148344 rows x 4 columns]
End Date  2020-06-30 00:00:00
Start Date  2020-01-01 00:00:00
api error (Retry 1/3)
503
US1NJBG0058
Successful retry
api error (Retry 1/3)
503
US1NJMD0001
Successful retry
api error (Retry 1/3)
503
USC00306138
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
177  2020-06-26  USW00094789  23.9  27.1
178  2020-06-27  USW00094789  18.1  21.9
179  2020-06-28  USW00094789  32.0  42.9
180  2020-06-29  USW00094789  21.0  25.9
181  2020-06-30  USW00094789  21.0   NaN

[163968 rows x 4 columns]
End Date  2019-12-31 00:00:00
Start Date  2019-07-01 00:00:00
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2019-12-27  USW00094789  13.0  16.1
180  2019-12-28  USW00094789  15.0  18.1
181  2019-12-29  USW00094789  15.0  18.1
182  2019-12-30  USW00094789  33.1  42.9
183  2019-12-31  USW00094789  23.9  33.1

[179690 rows x 4 columns]
End Date  2019-06-30 00:00:00
Start Date  2019-01-01 00:00:00
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
176  2019-06-26  USW00094789  18.1  23.0
177  2019-06-27  USW00094789  17.0  23.0
178  2019-06-28  USW00094789  15.0  17.0
179  2019-06-29  USW00094789  23.0  30.0
180  2019-06-30  USW00094789  36.9  46.1

[194715 rows x 4 columns]
End Date  2018-12-31 00:00:00
Start Date  2018-07-01 00:00:00
api error (Retry 1/3)
503
USC00302129
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2018-12-27  USW00094789  17.0  21.9
180  2018-12-28  USW00094789  30.0  38.0
181  2018-12-29  USW00094789  29.1  38.9
182  2018-12-30  USW00094789  19.9  23.0
183  2018-12-31  USW00094789  21.9  28.0

[209534 rows x 4 columns]
End Date  2018-06-30 00:00:00
Start Date  2018-01-01 00:00:00
api error (Retry 1/3)
503
US1NJMS0089
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
176  2018-06-26  USW00094789  18.1  23.9
177  2018-06-27  USW00094789  21.0  25.9
178  2018-06-28  USW00094789  23.9  31.1
179  2018-06-29  USW00094789  18.1  23.0
180  2018-06-30  USW00094789  15.0  18.1

[223688 rows x 4 columns]
End Date  2017-12-31 00:00:00
Start Date  2017-07-01 00:00:00
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2017-12-27  USW00094789  23.0  29.1
180  2017-12-28  USW00094789  28.0  35.1
181  2017-12-29  USW00094789  21.9  25.1
182  2017-12-30  USW00094789  21.0  27.1
183  2017-12-31  USW00094789  31.1  38.9

[238727 rows x 4 columns]
End Date  2017-06-30 00:00:00
Start Date  2017-01-01 00:00:00
api error (Retry 1/3)
503
US1CTFR0022
Successful retry
api error (Retry 1/3)
503
US1NJMD0001
Successful retry
api error (Retry 1/3)
503
US1NJMD0082
Successful retry
api error (Retry 1/3)
503
US1NYNS0030
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
176  2017-06-26  USW00094789  23.0  28.0
177  2017-06-27  USW00094789  18.1  21.9
178  2017-06-28  USW00094789  23.0  28.0
179  2017-06-29  USW00094789  33.1  38.9
180  2017-06-30  USW00094789  29.1  36.9

[253578 rows x 4 columns]
End Date  2016-12-31 00:00:00
Start Date  2016-07-01 00:00:00
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2016-12-27  USW00094789  23.9  30.0
180  2016-12-28  USW00094789  23.9  28.0
181  2016-12-29  USW00094789  23.9  30.0
182  2016-12-30  USW00094789  29.1  36.0
183  2016-12-31  USW00094789  38.0  46.1

[268085 rows x 4 columns]
End Date  2016-06-30 00:00:00
Start Date  2016-01-01 00:00:00
api error (Retry 1/3)
503
US1NJBG0070
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
177  2016-06-26  USW00094789  18.1  23.0
178  2016-06-27  USW00094789  28.0  35.1
179  2016-06-28  USW00094789  16.1  21.0
180  2016-06-29  USW00094789  18.1  21.9
181  2016-06-30  USW00094789  25.1  31.1

[279780 rows x 4 columns]
End Date  2015-12-31 00:00:00
Start Date  2015-07-01 00:00:00
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2015-12-27  USW00094789  23.0  29.1
180  2015-12-28  USW00094789  23.0  36.9
181  2015-12-29  USW00094789  23.9  30.0
182  2015-12-30  USW00094789  21.9  25.9
183  2015-12-31  USW00094789  19.9  25.1

[291206 rows x 4 columns]
End Date  2015-06-30 00:00:00
Start Date  2015-01-01 00:00:00
api error (Retry 1/3)
503
US1NJBG0008
Successful retry
api error (Retry 1/3)
503
USW00014732
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
176  2015-06-26  USW00094789  17.0  21.0
177  2015-06-27  USW00094789  18.1  25.1
178  2015-06-28  USW00094789  19.9  29.1
179  2015-06-29  USW00094789  21.9  25.9
180  2015-06-30  USW00094789  21.9   NaN

[301670 rows x 4 columns]
End Date  2014-12-31 00:00:00
Start Date  2014-07-01 00:00:00
api error (Retry 1/3)
503
US1NYWC0019
Successful retry
api error (Retry 1/3)
503
US1NYWC0035
Successful retry
api error (Retry 1/3)
503
USC00289832
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2014-12-27  USW00094789  14.1  17.0
180  2014-12-28  USW00094789  21.0  23.9
181  2014-12-29  USW00094789  19.9  25.9
182  2014-12-30  USW00094789  17.0  23.0
183  2014-12-31  USW00094789  21.9  28.0

[313318 rows x 4 columns]
End Date  2014-06-30 00:00:00
Start Date  2014-01-01 00:00:00
api error (Retry 1/3)
503
US1NJES0010
Successful retry
api error (Retry 1/3)
503
US1NYWC0019
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
176  2014-06-26  USW00094789  18.1  23.9
177  2014-06-27  USW00094789  17.0  21.9
178  2014-06-28  USW00094789  16.1  19.9
179  2014-06-29  USW00094789  19.9  25.9
180  2014-06-30  USW00094789  23.9  29.1

[324222 rows x 4 columns]
End Date  2013-12-31 00:00:00
Start Date  2013-07-01 00:00:00
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2013-12-27  USW00094789  21.0  23.0
180  2013-12-28  USW00094789  23.0  25.1
181  2013-12-29  USW00094789  25.1  33.1
182  2013-12-30  USW00094789  23.9  30.0
183  2013-12-31  USW00094789  25.9  36.9

[336273 rows x 4 columns]
End Date  2013-06-30 00:00:00
Start Date  2013-01-01 00:00:00
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
176  2013-06-26  USW00094789  21.0  25.9
177  2013-06-27  USW00094789  25.1  31.1
178  2013-06-28  USW00094789  23.0  32.0
179  2013-06-29  USW00094789  25.1  32.0
180  2013-06-30  USW00094789  18.1  25.9

[347532 rows x 4 columns]
End Date  2012-12-31 00:00:00
Start Date  2012-07-01 00:00:00
api error (Retry 1/3)
503
US1NJMD0039
Successful retry
api error (Retry 1/3)
503
US1NYNS0032
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2012-12-27  USW00094789  36.9  45.0
180  2012-12-28  USW00094789  30.0  38.0
181  2012-12-29  USW00094789  23.0  28.0
182  2012-12-30  USW00094789  38.0  53.0
183  2012-12-31  USW00094789  23.0  28.0

[359101 rows x 4 columns]
End Date  2012-06-30 00:00:00
Start Date  2012-01-01 00:00:00
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
177  2012-06-26  USW00094789  28.0  33.1
178  2012-06-27  USW00094789  25.9  34.9
179  2012-06-28  USW00094789  15.0  31.1
180  2012-06-29  USW00094789  17.9  21.9
181  2012-06-30  USW00094789  25.1  38.0

[370311 rows x 4 columns]
End Date  2011-12-31 00:00:00
Start Date  2011-07-01 00:00:00
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2011-12-27  USW00094789  40.9  53.0
180  2011-12-28  USW00094789  32.0  40.9
181  2011-12-29  USW00094789  23.9  31.1
182  2011-12-30  USW00094789  15.0  17.9
183  2011-12-31  USW00094789  19.9  23.9

[380642 rows x 4 columns]
End Date  2011-06-30 00:00:00
Start Date  2011-01-01 00:00:00
api error (Retry 1/3)
503
US1NJBG0003
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
176  2011-06-26  USW00094789  19.9  21.9
177  2011-06-27  USW00094789  15.0  17.0
178  2011-06-28  USW00094789  16.1  21.0
179  2011-06-29  USW00094789  23.0  30.0
180  2011-06-30  USW00094789  23.9  33.1

[389639 rows x 4 columns]
End Date  2010-12-31 00:00:00
Start Date  2010-07-01 00:00:00
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2010-12-27  USW00094789  40.9  57.9
180  2010-12-28  USW00094789  36.0  48.1
181  2010-12-29  USW00094789  21.9  25.9
182  2010-12-30  USW00094789  15.0  17.0
183  2010-12-31  USW00094789  13.0  15.0

[399233 rows x 4 columns]
End Date  2010-06-30 00:00:00
Start Date  2010-01-01 00:00:00
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
176  2010-06-26  USW00094789  17.9  21.9
177  2010-06-27  USW00094789  13.0  16.1
178  2010-06-28  USW00094789  23.0  25.9
179  2010-06-29  USW00094789  23.9  29.1
180  2010-06-30  USW00094789  21.0  25.1

[408215 rows x 4 columns]
End Date  2009-12-31 00:00:00
Start Date  2009-07-01 00:00:00
api error (Retry 1/3)
503
US1NJMS0002
Successful retry
api error (Retry 1/3)
503
US1NJUN0007
Successful retry
api error (Retry 1/3)
503
US1NYNS0006
Successful retry
api error (Retry 1/3)
503
US1NYNS0040
Successful retry
api error (Retry 1/3)
503
US1NYNS0080
Successful retry
api error (Retry 1/3)
503
US1NYRC0002
Successful retry
api error (Retry 1/3)
503
US1NYSF0092
Successful retry
           DATE      STATION  WSF2  WSF5
0    2024-07-11  US1NJBG0003   NaN   NaN
1    2024-07-12  US1NJBG0003   NaN   NaN
2    2024-07-13  US1NJBG0003   NaN   NaN
3    2024-07-14  US1NJBG0003   NaN   NaN
4    2024-07-15  US1NJBG0003   NaN   NaN
..          ...          ...   ...   ...
179  2009-12-27  USW00094789  25.1  33.1
180  2009-12-28  USW00094789  30.0  38.9

In [5]:
df.to_csv("wind.csv")